@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  font-family: 'Geist', sans-serif;
}

nav ul li {
  transition: all 0.3s ease;
}

nav ul li:hover {
  transform: scale(1.05);
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
/* Section */
.section {
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2f5596;
  margin-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}
.canvas-container{
  width: 500px;
  height: 500px;
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .section-subtitle {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .canvas-container{
    width: 300px;
    height: 300px;
  }
}
/* Marquee Animation for Logos */
/* .marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
} */

/* Hover Effect for Logos */
.logo-item {
  
  transition: transform 0.3s ease;
}

.logo-item:hover {
  transform: scale(1.1);
}
